@model IEnumerable<DataLayer.Page>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageGroup.GroupTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        <img src="~/PagesImages/@item.Image" alt="image" class="thumbnail" style="max-width:120px" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PageGroup.GroupTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Views)
    </td>
    <td>
        @item.CreateDate.toShamsi();
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.PageID }) |
        @Html.ActionLink("Details", "Details", new { id = item.PageID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.PageID })
    </td>
</tr>
}

</table>
